[Unit]
Description=Prometheus exporter for wormcells-viz logs
Requires=bendavid2021.service

[Service]
User=ubuntu
Group=ubuntu
WorkingDirectory=/home/ubuntu/grok_exporter
ExecStart=/home/ubuntu/grok_exporter/grok_exporter -config /home/ubuntu/grok_exporter/bendavid2021_config.yml

[Install]
WantedBy=multi-user.target